<a href="https://colab.research.google.com/github/ClovisMallmann/XP_Projeto_Aplicado/blob/main/PA_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=a9198743c98b73c40ec445f20b5334a966d1774c041980f690de7ccebf206001
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [10]:
#Carregamendo do Google drive para leitura dos Datasets
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [20]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, DateType, FloatType

import pandas

In [12]:
spark = SparkSession.builder.appName("Projeto Aplicado - XP").getOrCreate()

In [14]:
tab_comportamentos_xls = pandas.read_excel('/content/drive/MyDrive/Colab Notebooks/XP_PA/Datasets/registro_comportamentos.xlsx')
tab_fraldas = pandas.read_csv('/content/drive/MyDrive/Colab Notebooks/XP_PA/Datasets/registro_fraldas.csv', sep=';')
tab_medicamentos_xls = pandas.read_excel('/content/drive/MyDrive/Colab Notebooks/XP_PA/Datasets/registro_medicamentos.xlsx')

In [17]:
dataset_comportamentos = spark.createDataFrame(tab_comportamentos_xls);
dataset_fraldas = spark.createDataFrame(tab_fraldas);
dataset_medicamentos = spark.createDataFrame(tab_medicamentos_xls);

# **1 - Conhecendo os datasets**

In [19]:
dataset_comportamentos.printSchema()
dataset_fraldas.printSchema()
dataset_medicamentos.printSchema()

root
 |-- DATA: timestamp (nullable = true)
 |-- c_a: long (nullable = true)

root
 |-- DATA: string (nullable = true)
 |-- f_1: long (nullable = true)
 |-- f_2: long (nullable = true)

root
 |-- DATA: timestamp (nullable = true)
 |-- m_1: long (nullable = true)
 |-- m_2: long (nullable = true)
 |-- m_3: long (nullable = true)
 |-- m_4: long (nullable = true)
 |-- Unnamed: 5: double (nullable = true)
 |-- Unnamed: 6: double (nullable = true)
 |-- Unnamed: 7: double (nullable = true)
 |-- Unnamed: 8: double (nullable = true)
 |-- Unnamed: 9: string (nullable = true)

# *1.1 - Tratando as colunas dos datasets que estão fora do padrão*

In [31]:
#Coluna DATA para DateType.
#Colunas de LONG para INT.
#Exclusão de dados desnecessários.


#Em comportamentos

comportamentos = dataset_comportamentos \
                .withColumn("DATA", dataset_comportamentos["DATA"]
                            .cast(DateType())) \
                .withColumn("c_a", dataset_comportamentos["c_a"]
                            .cast('Int'))

comportamentos.printSchema()

root
 |-- DATA: date (nullable = true)
 |-- c_a: integer (nullable = true)

In [33]:
#Em Fraldas

Fraldas = dataset_fraldas \
                .withColumn("DATA", dataset_fraldas["DATA"]
                            .cast(DateType())) \
                .withColumn("f_1", dataset_fraldas["f_1"]
                            .cast('Int'))  \
                .withColumn("f_2", dataset_fraldas["f_2"]
                            .cast('Int'))  \

Fraldas.printSchema()

root
 |-- DATA: date (nullable = true)
 |-- f_1: integer (nullable = true)
 |-- f_2: integer (nullable = true)

In [34]:
#Em medicamentos

Medicamentos = dataset_medicamentos \
                .withColumn("DATA", dataset_medicamentos["DATA"]
                            .cast(DateType())) \
                .withColumn("m_1", dataset_medicamentos["m_1"]
                            .cast('Int'))  \
                .withColumn("m_2", dataset_medicamentos["m_2"]
                            .cast('Int'))  \
                .withColumn("m_3", dataset_medicamentos["m_3"]
                            .cast('Int'))  \
                .withColumn("m_4", dataset_medicamentos["m_4"]
                            .cast('Int'))  \

Medicamentos.printSchema()

root
 |-- DATA: date (nullable = true)
 |-- m_1: integer (nullable = true)
 |-- m_2: integer (nullable = true)
 |-- m_3: integer (nullable = true)
 |-- m_4: integer (nullable = true)
 |-- Unnamed: 5: double (nullable = true)
 |-- Unnamed: 6: double (nullable = true)
 |-- Unnamed: 7: double (nullable = true)
 |-- Unnamed: 8: double (nullable = true)
 |-- Unnamed: 9: string (nullable = true)

In [35]:
#Em medicamentos, exclusão das colunas desnecessárias

Medicamentos = Medicamentos.drop(*('Unnamed: 5', 'Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9'))

Medicamentos.printSchema()

root
 |-- DATA: date (nullable = true)
 |-- m_1: integer (nullable = true)
 |-- m_2: integer (nullable = true)
 |-- m_3: integer (nullable = true)
 |-- m_4: integer (nullable = true)